.stat-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stat-card .text-dark {
    font-weight: 400 !important;
}

.w {
    height: 66vh;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}